---
import Layout from "./Layout.astro";
const { post } = Astro.props;
import niceDate from "../utils/niceDate.js";
import Prose from "../components/Prose.astro";
import calculateReadTime from "../utils/calculateReadTime.js";
---

<Layout props={post} pageTitle={post.data.title}>
	<div class="max-w-4xl mx-auto p-4 font-serif">
		<p class="text-red-600 font-bold">
			Warning! This post is in the archives. I cannot guarantee that there will
			be no deadlinks or incorrect content. These posts are here purely for
			posterity.
		</p>
		<a href="/arch/oldblogs" class="text-blue-600 hover:underline">← Back</a>
		<h1 class="text-4xl font-bold mb-4">{post.data.title}</h1>
		<div class="text-gray-600 mb-4">
			<h3 class="text-purple-600">Blog Iteration: {post.data.iteration}</h3>
			<h3>Published: {niceDate(post.data.date)}</h3>
			<p>Read Time: {calculateReadTime(post.body)}</p>
		</div>
		<Prose>
			<slot />
		</Prose>
	</div>
</Layout>
